
    @media screen and (max-width: 992px) {
.bxf{
max-width:500px ; text-align: left;
display: block;
padding-left:100px;
}
}
@media screen and (max-width: 1050px) {
.bxf{
margin-left:-50px;
}
}
@media screen and (min-width: 880px) {
.bxf{
margin-left:-150px!important;
}
}
